{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <form method="POST" action={{ path('app_login') }}>
        {% if notif is defined %}
            {{ notif }}
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username">Email</label>
        <input type="email" value="{{ last_username ?? "" }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Envoyer un lien de connexion
        </button>
    </form>
{% endblock %}
